<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Smart Meter Forecasting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
    <!-- theme meta -->
    <meta name="theme-name" content="dot"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <!-- ** CSS Plugins Needed for the Project ** -->


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
    <!--Favicon-->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
   
</head>

<body>
<!-- header -->
<header class="banner overlay bg-cover" data-background="{% static 'images/banner.jpg' %}">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand px-2" href="index.html"><strong>Smart Meter Forecasting</strong></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="faq.html">Faq</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="contact.html">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="single.html">Inner Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- banner -->
    <div class="container section" >
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h1 class="text-white mb-3">Now you can predict your bills</h1>
                <p class="text-white mb-4">Enter your previous bills CSV data and instantly get the next month predicted
                    bill amount</p>

                <div class="container" style="height:10px;">

                        <div class=" px-3 mb-2 shadow text-center " style="margin-bottom:50px;height:50px">
                            <div style="display:flex;justify-content:center;">
                                <h3 style="color:white"><strong>Next month's predicted bill amount is :{{price}}</strong></h3>
                            </div>

                        </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /banner -->
</header>
<!-- /header -->


{% block content %}
{% endblock %}

<!-- footer -->
<footer class="section pb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-md-left text-center">
                <p class="mb-md-0 mb-4">Copyright © 2020 Designed and Developed by <a
                        href="https://themefisher.com/">themefisher</a></p>
            </div>
            <div class="col-md-4 text-md-right text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                            class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                            class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                            class="ti-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="#"><i
                            class="ti-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<!-- ** JS Plugins Needed for the Project ** -->
<!-- jquiry -->
<script src="{% static 'plugins/jquery/jquery-1.12.4.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- match-height JS -->
<script src="{% static 'plugins/match-height/jquery.matchHeight-min.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'js/script.js'%}"></script>
</body>

</html>
